@charset "utf-8";
/* CSS Document */

body { margin:0; background:#e9f8ff; color:#797979; }
h1, h2, h3, h4, h5, h6 { font-family: "microsoft yahei", Arial, Helvetica, sans-serif; font-size:18px; font-weight:normal; margin:0; padding:0; }
ol, ul, li, div, p, dl, dt, dd { list-style:none; padding:0; text-justify:inter-ideograph; font-size:12px; font-family:Arial, Helvetica, sans-serif;
    margin:0px;
}
a, img, table, td, tr { border:none; }
.clear { clear:both; }
/* a { color:#ff3800 ;text-decoration:none}*/
a { color:#2D2D2D ;text-decoration:none}
a:hover { text-decoration:none }
input, select, textarea { font-family:Arial, Helvetica, sans-serif; padding:1px;}
a { blr:expression(this.onFocus=this.blur())
} /*for IE*/
a { outline:none; } /*for Firefox*/

.main{
    width: 100%;
    position: relative;
    height: 100%;
    background-color: #e9f8ff;
}


.center img{
    position:absolute;
    top:50%;
    left:40%;
    margin:275px 0 0 -200px;
    width:730px;
    height:300px;
    background-color: #e9f8ff;
}


.btn-primary{
    position:absolute;
    top:50%;
    left:40%;
    margin:499px 0 0 130px;
    width:100px;
    height:30px;
    background-color: #5cc0c0;
    border:1px solid #2d9f9f;
}

.btn-primary:hover{
    background-color: #279393;
    border:1px solid #69c1c1;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #279393; 
    border:1px solid #69c1c1;
}








