<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>修改页面</title>
		<script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
	</head>
	<body>
		
		<input id="username" name="userName" type="text" placeholder="${User.uaserName}">用户名</input><br/>
		<input id="password" name="password" type="text" placeholder="请输入你的属性">密码</input>
		<br />
		<input id="age1" name="age" type="radio" value="男" checked="true">男</input>
		<input id="age2" name="age" type="radio" value="女" checked="true">女</input>
		<br />
		<button type="button" id="update">修改</button>
	</body>
</html>